.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 2px 0 var(--bg-secondary-color);
    background-color: bisque;
}

.footer__container {
    display:inline-block;
    align-items: center;
    justify-content: space-between;
}